einops==0.8.1
fast-simplification==0.1.12
filelock==3.32.3
fsspec==2026.7.0
imageio==2.37.4
jinja2==3.1.6
lazy-loader==0.6
markupsafe==3.0.3
monai==1.3.2
mpmath==1.3.0
networkx==3.6.1
nibabel==5.3.2
numpy==1.26.4
packaging==24.1
pillow==11.2.1
psutil==7.2.2
pydicom==3.0.1
pynrrd==1.1.3
scikit-image==0.25.2
scipy==1.14.1
setuptools==78.1.0
simpleitk==2.5.2
sympy==1.13.1
tifffile==2026.3.3
torch==2.6.0+cpu
trimesh==4.7.4
typing-extensions==4.16.0
